.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3C3B45;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*/*/

.coin-container{
  background-color: #25242B;

  text-align: left;

  padding: 8px 16px 8px 16px;
  width: 200px;
  height: 350x;

  border-radius: 6px;
}
.coin-container h1{
  color: #686576;
}
.coin-container h3{
  text-align: center;
  color: white;
}
.coin-container p{
  color: white;
  margin-left: 8px;
}

/*/*/
.circle {
  border-radius: 50%;
  border-style: solid;
}

.inner-spinner {
  border-radius: 50%;
  width: 270px;
  height: 270px;
}

.red {
  background-color: red;
}
.b-red {
  border-color: red;
}

.green {
  background-color: green;
}

.white-f {
  color: white;
}

.center {
  text-align: center;
}

.circle-h {
  padding-top: 32px;
}

ul{
  list-style: none;

}
li{
  display: inline-block;
  margin-right: 16px;
}
